<div class="site-nav">
    <div class="nav-logo">
        <a href="{{ site.baseurl }}/">
          <span class="nav-content-item site-name">{{ site.name }}</span>
          <br />
          <span class="nav-content-item site-description">{{ site.description }}</span>
        </a>
    </div>

    <div class="nav-content">
        <a href="{{ site.baseurl }}/"><span class="nav-content-item">Home</span></a>
        <a href="{{ site.baseurl }}/category/"><span class="nav-content-item">分类</span></a>
        <a href="{{ site.baseurl }}/about"><span class="nav-content-item">About</span></a>
    </div>
    <div class="nav-discovery">
    </div>
</div>
