
/***************/
/*    CUSTOM   */
/***************/

.post h1 {
    background: #f5f5f5;
    font-size: 24px;
    padding: 10px;
    border-left: 3px solid #e4e4e4;
    margin-top: 50px;
}

.post .title {
  display: block;
  text-align: -webkit-center;
  font-size: 26px;
}
